
.carouselContainer{
  width: 100%;
  display:flex;
  justify-content: center;
  margin: 0 auto;
}

.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 500px;  /* change this to whatever you want */
  width: 500px;
  object-fit: fill;
  object-position: initial;
}
